@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.hero{
    background-color: #23424A;
    color: #fff;
    padding: 100px 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.hero_heading{
    width: 50%;
    max-width: 750px;
    font-size: 3rem;
    font-weight: 900;
}

.hero_text{
    width: 50%;
    max-width: 750px;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1.5em 0;
}

.button{
    width: 20%;
    background-color: #38CFD9;
    border-radius: 50px;
    padding: 0.5em;
    text-align: center;
}
.button a{
    width: 100%;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #072A2D;
    font-weight: 700;
    text-decoration: none;
}


.main{
    padding: 100px 0;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.main p{
    width: 70%;
    margin: 0 auto;
}

.main p.type{
    font-size: 1.3rem;
    font-weight: 900;
    color: #87629A;
    margin: 0.5em auto;
}


.footer{
    background: #136C72;
    color: #fff;
    padding: 100px 0;
}
.footer p{
    width: 65%;
    margin: 0 auto;
}

.footer p.type{
    font-size: 1.3rem;
    font-weight: 900;
    margin: 0.5em auto;
}
